# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
settings.py

# pyenv
.python-version

# dotenv
.env

# virtualenv
elephRoomEnv/
.vscode

.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid

# django migrations
migrations

#db location
elephantapp/views/connection.py