{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html>
  <body>
    
    <section id="topic-details">
      <h1 class='title'>Title: {{topic.title}}</h1>
      <h2 class='title'>Topic Description: {{topic.blurb}}</h2>
      <h2 class='title'>Associated Category: {{category.name}}</h2>
      <h2 class='title'>Stance Text Body: {{topic.stance_text_body}}</h2>
      {% comment %} <a href="{% url topic.resource_link %}"> {% endcomment %}
      <h2 class='title'>Resource Link: {{topic.resource_link}}</h2>
      {% comment %} </a> {% endcomment %}
      <img src="{{topic.image_link}}" alt="topic image">
      <h2 class='title'>Is Free {{topic.is_free_resource}}</h2>
      <h2 class='title'>I am a Proponent of :{{topic.is_proponent}}</h2>
      <h2 class='title'>Is Anecdote{{topic.is_anecdote}}</h2>
      <h3 class='title'>Anecdote Body: {{topic.anecdote_body}}</h3>
      <h2 class='title'>Is Citable{{topic.is_citable}}</h2>
    </section>

    <section id="topic-actions">
  <form action="{% url 'elephantapp:topic' topic.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="actual_method" value="DELETE">
    <button>Delete</button>
  </form>

  <form action="{% url 'elephantapp:topic_edit_form' topic.id %}" method="GET">
    {% csrf_token %}
    <button>Edit</button>
  </form>
  </section>
  </body>
</html>
{% endblock %}