{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>Create a Topic</h1>

    {% if topic.id is not None %}
    <form action="{% url 'elephantapp:topic' topic.id %}" method="post">
    {% else %}
    <form action="{% url 'elephantapp:topics' %}" method="post">
    {% endif %}
      {% csrf_token %}
        <fieldset>
            <label for="title">Title: {{ topic.title }} </label>
            <input id="title" type="text" name="title" value="{{ topic.title }}">
        </fieldset>
        <fieldset>
            <label for="image_link">Image Url: {{ topic.image_link }} </label>
            <input id="image_link" type="text" name="image_link" value="{{ topic.image_link }}">
        </fieldset>
        <fieldset>
            <label for="stance_text_body">Stance: {{ topic.stance_text_body }} </label>
            <input id="stance_text_body" type="text" name="stance_text_body" value="{{ topic.stance_text_body }}">
        </fieldset>
        <fieldset>
            <label for="blurb">A brief summary: {{ topic.blurb }} </label>
            <input id="blurb" type="text" name="blurb" value="{{ topic.blurb }}">
        </fieldset>
        <fieldset>
        <h3>Anecdotes or Life Experience Evidence</h3>
            <fieldset>
                <label for="is_anecdote">This is A story from my Life or an Anecdote:(click for true)</label>
                {% if topic.is_anecdote is not None %}
                <input id="is_anecdote" type="radio" name="is_anecdote" value={{ topic.is_anecdote }}>
                {% else %}
                <input id="is_anecdote" type="radio" name="is_anecdote" value=True>
                {% endif %} 
                <br> 
                <label for="anecdote_body">Your Story or Experience: {{ topic.anecdote_body }} </label>
                <input id="anecdote_body" type="text" name="anecdote_body" value="{{ topic.anecdote_body }}">
            </fieldset>
        </fieldset>
        <fieldset>
        <h3>Citable Sources and Evidence</h3>
            <fieldset>
                <label for="is_citable">Peer Reviewed Source(Click for True): {{ topic.is_citable }} </label>
                {% if topic.is_citable is not None %}
                <input id="is_citable" type="radio" name="is_citable" value={{ topic.is_citable }}>
                {% else %}
                <input id="is_citable" type="radio" name="is_citable" value=True>
                {% endif %}
                <label for="is_free_resource">Free to view(Click for True): {{ topic.is_free_resource }} </label>
                {% if topic.is_free_resource is not None %}
                <input id="is_free_resource" type="radio" name="is_free_resource" value={{ topic.is_free_resource }}>
                {% else %}
                <input id="is_free_resource" type="radio" name="is_free_resource" value=True>
                {% endif %}
            </fieldset>
            <fieldset>
                <label for="resource_link">Resource Url: {{ topic.resource_link }} </label>
                <input id="resource_link" type="url" name="resource_link" value="{{ topic.resource_link }}">
            </fieldset>
        </fieldset>
        <fieldset>  
            <label for="is_proponent">I am a proponent(Click for True): {{ topic.is_proponent}} </label>
            {% if topic.is_proponent is not None %}
            <input id="is_proponent" type="radio" name="is_proponent" value={{ topic.is_proponent }}>
            {% else %}
            <input id="is_proponent" type="radio" name="is_proponent" value=True>
            {% endif %}
        </fieldset>
        <fieldset>
            <label for="category">Category: </label>
            <select id="category" type="text" name="category">
                    {% for category in all_categories %}
                        <option {% if category.id == topic.category_id %}selected{% endif %} value="{{ category.id }}">
                        {{ category.name }}</option>
                    {% endfor %}
            </select>
        </fieldset>

        {% if topic.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <button type="submit" value="Update">Update</button>
        {% else %}
            <button type="submit" value="Add It">Add It</button>
        {% endif %}
    </form>
    {% endblock %}