{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <h1>Welcome to the Elephant Room</h1>
    <div class="bigbrother">
        <div>
            <image class="home-logo-img" src="{% static 'images/erlogo.png' %}" alt="Elephant Room Logo">
        </div>
    </div>
    {% if user.is_authenticated == False %}
    
        <a href="{% url 'elephantapp:login' %}"><button class="btn btn-warning btn-lg">Login</button></a>
        <a href="{% url 'elephantapp:register' %}"><button class="btn btn-warning btn-lg">Register</button></a>
    
    {% endif %}
{% endblock content %}
