{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html>
    <h1 class='title'>{{profile.user}}</h1>
    <body>
      <h1>User Name: {{profile.user}}</h1>
      <h1>Profile Age: {{profile.age}}</h1>
      <h1>Profile Relationship Status: {{profile.relationship_status}}</h1>
      <h1>Profile Political Affiliation: {{profile.political_affiliation}}</h1>
      <h1>Profile Evidence Preference: {{profile.evidential_preference}}</h1>
      <h1>Profile Debate Style Preference: {{profile.debate_style_preference}}</h1>
      <img class="img" src="{{profile.avatar_image}}" alt="avatar image"/>
      <h1>Profile Theological Affiliation: {{profile.theological_affiliation}}</h1>

      <section id="profile-actions">
        <form action="{% url 'elephantapp:profile_edit_form' profile.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
        </form>
      </section>
    </body>
</html>
{% endblock %}