{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <h1>Profile</h1>

    <ul>
    {% for profile in all_profiles %}
        <li>
            <a href="{% url 'elephantapp:profile' profile.id %}">  
            Age: {{profile.age}}
            Relationship Status: {{profile.relationship_status}}
            Political Affiliation: {{profile.political_affiliation}}
            Evidential Preference: {{profile.evidential_preference}}
            Debate Style Preference: {{profile.debate_style_preference}}
            Avatar Image: {{profile.avatar_image}}
            Theological Affiliation: {{profile.theological_affiliation}}
            </a>
        </li>
    {% endfor %}
    </ul>
  </body>
</html>
{% endblock content %}