{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    {% for profile in all_profiles %}
    <h1>Welcome to your Profile {{profile.user}}</h1>

    <ul>
        <li>
            <a href="{% url 'elephantapp:profile' profile.id %}">  
            <img class="img" src="{{profile.avatar_image}}" alt="avatar image">
            <h1>Age: {{profile.age}}</h1>
            <h1>Relationship Status: {{profile.relationship_status}}</h1>
            <h1>Political Affiliation: {{profile.political_affiliation}}</h1>
            <h1>Evidential Preference: {{profile.evidential_preference}}</h1>
            <h1>Debate Style Preference: {{profile.debate_style_preference}}</h1>
            <h1>Theological Affiliation: {{profile.theological_affiliation}}</h1>
            </a>
        </li>
    {% endfor %}
    </ul>
  </body>
</html>
{% endblock content %}