{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Elephant Room</title>

    <link rel="stylesheet" href="{% static 'styles/base.css' %}" type="text/css" media="screen" />

    {% block css %}
    {% endblock %}
</head>

<body>
    <nav id="site-nav">
            {% comment %} {% if user.is_authenticated %}
            {% else %}
            {% endif %} {% endcomment %}
            {% if user.is_authenticated %}
            {% comment %} Rename and Display Buttons in a more recognizable button, Topic Form looks like two differnt buttons {% endcomment %}
        <ol class="navList">
            <li class="navList__route"><a href="{% url 'elephantapp:home' %}">Home</a></li>
            <li class="navList__route"><a href="{% url 'elephantapp:topics' %}">Topics</a></li>
            <li class="navList__route"><a href="{% url 'elephantapp:categories' %}">Categories</a></li>
            <li class="navList__route"><a href="{% url 'elephantapp:topic_form' %}">Create A Topic</a></li>
            <li class="navList__route"><a href="{% url 'elephantapp:category_form' %}">Create a Category</a></li>
            <li class="navList__route"><a href="{% url 'elephantapp:profiles' %}">Profile</a></li>
            <li class="navList__route"><a href="{% url 'elephantapp:logout' %}">Logout</a></li>   
            <img class="logo" src="{% static 'images/erlogo.png' %}" alt="Elephant Room Logo">
        </ol>
            {% else %}
            {% endif %}


    </nav>

    {% block content %}
    {% endblock %}


</body>

</html>