{% extends 'shared/base.html' %}

{% block content %}
    <h1 class='title'>{{category.name}}</h1>
    <body>
      <h3>User Name: {{category.user}}</h3>
      <h3>Category Description: {{category.blurb}}</h3>
      <img src="{{category.category_icon}}" alt="category icon"/>
        
      <section id="category-actions">
      <form action="{% url 'elephantapp:category' category.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button class="btn btn-warning btn-lg">Delete</button>
      </form>
      <form action="{% url 'elephantapp:category_edit_form' category.id %}" method="GET">
        {% csrf_token %}
        <button class="btn btn-warning btn-lg">Edit</button>
      </form>
      </section>
    </body>
</html>
{% endblock %}
        