{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
  <body>
    <h1>Create a Category</h1>
  
    {% if category.id is not None %}
    <form action="{% url 'elephantapp:category' category.id %}" method="post">
    {% else %}
    <form action="{% url 'elephantapp:categories' %}" method="post">
    {% endif %}
      {% csrf_token %}
        <fieldset>
            <label for="name">Name: {{ category.name }} </label>
            <input id="name" type="text" name="name" value="{{ category.name }}">
        </fieldset>
        <fieldset>
            <label for="blurb">Summary: {{ category.blurb }} </label>
            <input id="blurb" type="text" name="blurb" value="{{ category.blurb }}">
        </fieldset>
        <fieldset>
            <label for="category_icon">Image Url: {{ category.category_icon }} </label>
            <input id="category_icon" type="text" name="category_icon" value="{{ category.category_icon }}">
        </fieldset>
        
        {% if category.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <button type="submit" value="Update">Update</button>
        {% else %}
            <button type="submit" value="Add It">Add It</button>
        {% endif %}
      </form>
    </body>
  </html>
  {% endblock %}