{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}

        {% if category.id == None %}
        <h1 class="title">You Don't seem To have Any Categories You should Make One!</h1>
        <a href="{% url 'elephantapp:category_form' %}"><button>Create a Category</button></a>
        {% endif %}
        {% for category in all_categories %}
        <fieldset>  
          <a href="{% url 'elephantapp:category' category.id %}">
            <h2> Category title: {{category.name}} </h2>
            <img class="img" src="{{category.category_icon}}" alt="elephantapp icon">
          </a>
            <ul>
                <li>
                  <a href="{% url 'elephantapp:category' category.id %}">
                    <p class="">Category Description: {{category.blurb}}</p>
                  </a>
                </li>
            </ul>
          
          <a href="{% url 'elephantapp:topic_form' %}"><button>Create A Topic</button></a>
          <div>
            <h4>Topics in this Category</h4>
            <div class="flex-container">
              {% for topic in all_topics %}
              {% if topic.category_id == category.id %}
                  <div class="topic-card">
                    <a href="{% url 'elephantapp:topic' topic.id %}">
                    <h5> Title: {{topic.title}} </h5>
                    <h4>Topic Description</h4>
                    <div class="textcontainer">
                      <p class="textarea"> {{topic.blurb}}</p>
                    </div>
                    </a>
                  </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </fieldset>
        
      {% endfor %}
      {% endblock %}
            {% comment %} </div>
          </div>
        </div>       {% endcomment %}
