{% extends 'shared/base.html' %}
{% load static  %}
{% block content %}

        {% for category in all_categories %}
        <div class="cardrow">
          <div class="card-col">
            <div class="card-body">
        <fieldset>  
        <div class="w3-card-3 w3-dark-grey">
          <a href="{% url 'elephantapp:category' category.id %}">
          <h2> Category title: {{category.name}} </h2>
          <img class="img" src="{{category.category_icon}}" alt="elephantapp icon">
          </a>
            <ul>
                <li>
                  <a href="{% url 'elephantapp:category' category.id %}">
                    <p class="">Category Description: {{category.blurb}}</p>
                  </a>
                </li>
            </ul>
        </fieldset>
        <fieldset>
        <div class="flex-container">
          <a href="{% url 'elephantapp:topic_form' %}">Create A Topic</a>
          <div>
          <h4>Topics in this Category</h4>
          {% for topic in all_topics %}
          {% if topic.category_id == category.id %}
          <a href="{% url 'elephantapp:topic' topic.id %}">
          <div>
          <h5> Title: {{topic.title}} </h5>
          <h4>Topic Description</h4>
          <div class="textcontainer" >
          <p class="textarea"> {{topic.blurb}}</p>
          </div>
          </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        </fieldset>
        
      {% endfor %}
      {% endblock %}
            </div>
          </div>
        </div>      
